<h1>User info</h1>

<% if current_user %>
  <p>Logged in!</p>
  <%= debug current_user.attributes %>
<% else %>
  <p>Not logged in!</p>
<% end %>
<hr />


<p>See JSON user data from example.smartcitizen.me:</p>
<%= link_to "http://example.smartcitizen.me", "http://example.smartcitizen.me" %>
